{% extends 'base.html.twig' %}

{% block title %}Hello SectionController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/section/index.css') }}"> {% endblock %}

{% block body %}

    <div class="page">
        <main class="main">
            <div class="blog-intro-container">
                <section class="blog-intro">
                    <div class="container">
                        <div class="bintro__content">
                            <h1 class="bintro__title">I can do it </h1>
                            <p class="bintro__subtitle">Read our blog, stay up to date with the latest news</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="bodyh">
                <form method="get">
                    <label for="search">Search</label>
                    <input id="search" placeholder="   Введите текст" type="search" name="search" pattern=".*\S.*" required>
                    <span class="caret"></span>
                </form>
            </div>
            <section class="blog-news">
                <div class="container">
                    <div class="bnews__content">
                        <div class="bnews__wrapper">
                            {% for section in sections %}
                                <div class="blog__card">
                                    <div class="blog__card-img">
                                        <img
                                                class="blog__card-img"
                                                src="/uploads/{{ section.img }}"
                                                alt="our blog-images"
                                        />
                                    </div>
                                    <div class="blog__card-content">
                                        <p class="blog__card-date">{{ section.getDateString }}</p>
                                        <p class="blog__card-date">{{ section.price }}сом</p>
                                        <h1 class="blog__card-title">
                                            {{ section.name }}
                                        </h1>
                                        <p class="blog__card-text">
                                            {{ section.getDiscShort }}
                                        </p>

                                        <a href="{{ path('app_section_more',{'id':section.id} ) }}"
                                           class="blog__card-link">Learn
                                            More...</a>

                                    </div>
                                    <p class="blog__card-date">{{ section.address }}</p>
                                </div>
                            {% endfor %}

                        </div>
                        <button class="bnews__btn">Load more articles</button>
                    </div>
                </div>
            </section>
            <section class="difference">
                <div class="container">
                    <div class="difference__content">
                        <h2 class="difference__title">Now</h2>
                        <p class="difference__subtitle">
                            It's time to become the best brand of yourself.
                        </p>

                    </div>
                </div>
            </section>
        </main>
    </div>


{% endblock %}
