{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block body %}

    <div class="page">


        <main class="main">
            <section class="intro swiper">
                <div class="intro__slider">
                    <div class="swiper-wrapper intro__wrapper">
                        <div class="intro__content swiper-slide">
                            <div class="intro__container">
                                <h1 class="intro__title">I can do it</h1>
                                <p class="intro__subtitle">You can become the best version of yourself, NOW</p>
                                <div class="intro__links">
                                    <a href="{{ path('app_about') }}"
                                       class="secondary-button intro__secondary-button">More</a>
                                    <a href="{{ path('app_login') }}" class="button intro__button">Authorization</a>
                                </div>
                            </div>
                        </div>
                    <div class="slider__controls">
                        <div class="slider__pagination"></div>
                    </div>
                </div>
            </section>
            <section class="swiper aboutus">
                <div class="container">
                    <div class="aboutus__content aboutus-slider">
                        <div class="sw">

                            <div class="swiper-slide aboutus__item">
                                <img src="{{ asset('images/projects.png') }}" alt="" class="aboutus__item-img">
                                <div class="aboutus__item-info">
                                    <p class="aboutus__item-title">{{ sectionCount }}</p>
                                    <p class="aboutus__item-subtitle">section</p>
                                </div>
                            </div>
                            <div class="swiper-slide aboutus__item">
                                <img src="{{ asset('images/partners.png') }}" alt="" class="aboutus__item-img">
                                <div class="aboutus__item-info">
                                    <p class="aboutus__item-title">{{ userCount }}</p>
                                    <p class="aboutus__item-subtitle">users</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="category">
                <div class="container">
                    <div class="category__content">
                        <div class="category__card">
                            <div class="category__card-content">
                                <div class="category__card-bottom">
                                    <h3 class="category__card-title">{{ foot.name }}</h3>
                                    <p class="category__bottom-subtitle">{{ foot.getDiscShort }}</p>
                                    <a href="{{ path('app_section_more', {'id': foot.id}) }}" class="category__bottom-btn">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="category__card">
                            <div class="category__card-content">
                                <div class="category__card-bottom">
                                    <h3 class="category__card-title">{{ eng.name }}</h3>
                                    <p class="category__bottom-subtitle">{{ eng.getDiscShort }}</p>
                                    <a href="{{ path('app_section_more', {'id': eng.id}) }}" class="category__bottom-btn">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="category__card">
                            <div class="category__card-content">
                                <div class="category__card-bottom">
                                    <h3 class="category__card-title">{{ thek.name }}</h3>
                                    <p class="category__bottom-subtitle">{{ thek.getDiscShort }}</p>
                                    <a href="{{ path('app_section_more', {'id': thek.id}) }}" class="category__bottom-btn">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                        <div class="category__card">
                            <div class="category__card-content">
                                <div class="category__card-bottom category__card-bottom-last">
                                    <h3 class="category__card-title">{{ dance.name }}</h3>
                                    <p class="category__bottom-subtitle">{{ dance.getDiscShort }}</p>
                                    <a href="{{ path('app_section_more', {'id': dance.id}) }}" class="category__bottom-btn">Learn
                                        more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="moreaus">
                <div class="container">
                    <div class="moreaus__content">
                        <div class="moreaus__info">
                            <h2 class="moreaus__title">About Us</h2>
                            <p class="moreaus__subtitle">Мы - команда энтузиастов, которая создала это
                                пространство для тех, кто хочет найти или предложить разнообразные услуги.
                                Наша цель - соединить людей, которые ищут помощь или желают предложить свои навыки,
                                чтобы упростить
                                процесс взаимодействия и обмена услугами...</p>
                            <a href="./pages/aboutus-page/index.html" class="moreaus__btn">Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="slider">
                <div class="container slider__container">
                    <div class="swiper slider__content">
                        <div class="swiper-wrapper slider__wrapper">
                            <div class="swiper-slide slider__card">
                                <h4 class="slider__card-title">Шаг к свободе: Водить с уверенностью с нашей
                                    автошколой</h4>
                                <p class="slider__card-text">
                                    Хотите управлять автомобилем с уверенностью и безопасностью на дороге? Наша
                                    автошкола предлагает не только навыки вождения, но и доверие в каждом вашем
                                    повороте.
                                    Присоединяйтесь к нам сегодня и начните ваше путешествие к уверенному вождению.
                                    Свобода и независимость ждут вас за рулем. Начните свой путь с нашей автошколой!
                                </p>
                                <a href="{{ path('app_section') }}" class="slider__card-btn">More</a>
                            </div>
                            <div class="swiper-slide slider__card">
                                <h4 class="slider__card-title">Танцы</h4>
                                <p class="slider__card-text">
                                    Танцы - это прекрасный способ выразить себя, воплотить эмоции и насладиться
                                    движением. Они предлагают возможность соединиться с музыкой и окружающими, будь то
                                    хобби, форма физической активности или способ самовыражения.
                                    Независимо от того, танцуете вы профессионально, как хобби или для здоровья, они
                                    предлагают множество пользы и радости. Так что почему бы не попробовать новый
                                    танцевальный стиль или просто насладиться музыкой и движением в свое удовольствие?
                                </p>
                                <a href="{{ path('app_section') }}" class="slider__card-btn">More</a>
                            </div>
                            <div class="swiper-slide slider__card">
                                <h4 class="slider__card-title">Спорт</h4>
                                <p class="slider__card-text">
                                    Спорт - это удивительный способ поддерживать физическую форму, заботиться о здоровье
                                    и наслаждаться активным образом жизни. Вот несколько причин, почему спорт важен:
                                    Спорт помогает поддерживать хорошее физическое и психическое здоровье, что в
                                    конечном итоге приводит к лучшему качеству жизни и более активному образу жизни.

                                    Независимо от того, предпочитаете ли вы бегать, играть в футбол, заниматься йогой
                                    или плаванием, спорт дает огромные преимущества для вашего здоровья и благополучия.
                                </p>
                                <a href="{{ path('app_section') }}" class="slider__card-btn">More</a>
                            </div>
                            <div class="swiper-slide slider__card">
                                <h4 class="slider__card-title">Знания</h4>
                                <p class="slider__card-text">
                                    Знания - это ключ к пониманию мира вокруг нас и к личному развитию. Они приносят не
                                    только информацию, но и способность анализировать, применять и творчески
                                    использовать эту информацию. Вот почему они важны:
                                    Узнавание новых вещей может приносить удовольствие и радость. Это может быть
                                    увлечением, хобби или просто интерес к чему-то новому.

                                    Знания - это один из ключевых столпов личного и профессионального роста. Они
                                    являются инструментом, который помогает нам лучше понимать себя и мир вокруг нас.
                                </p>
                                <a href="{{ path('app_section') }}" class="slider__card-btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="slider__controllers">
                        <div class="custom-prev">
                            <img src="{{ asset('images/prev.svg') }}" alt="prev">
                        </div>
                        <div class="custom-next">
                            <img src="../../images/nex.svg" alt="next">
                        </div>
                    </div>
                </div>
            </section>
            <section class="difference">
                <div class="container">
                    <div class="difference__content">
                        <h2 class="difference__title">Now</h2>
                        <p class="difference__subtitle">
                            It's time to become the best brand of yourself.
                        </p>

                    </div>
                </div>
            </section>
            <section class="message">
                <div class="container">
                    <div class="message__content">
                        <div class="message__left">
                            <h2 class="message__title">Your message</h2>
                            <p class="message__left-text">
                                We will process your question as soon as possible and call you
                                back during the working day.
                            </p>
                        </div>
                        <div class="message__send">
                            <form action="" class="message__send-form">
                                <input type="text" name="email" id="first_name" placeholder="Your name"
                                       class="message__send-input"/>
                                <input type="tel" name="number" id="phone" placeholder="Phone number"
                                       class="message__send-input"/>
                                <textarea name="meessage" placeholder="Message" class="message__send-text"></textarea>
                                <input type="submit" value="Send message" class="message__send-btn button"/>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <section class="help-message">
                <div class="help">
                    <div class="help__content">
                        <div class="whatsapp" id="whatsapp">
                            <a href="#">
                                <img src="{{ asset('images/whatsapp.svg') }}" alt="whatsapp">
                            </a>
                        </div>
                        <div class="telegram" id="telegram">
                            <a href="#">
                                <img src="{{ asset('images/telegram.svg') }}" alt="telegram">
                            </a>
                        </div>
                        <div class="help" id="help">
                            <img src="{{ asset('images/help.svg') }}" class="help-open" id="help-open" alt="helpOpen">
                            <img src="{{ asset('images/close.svg') }}" id="help-close" class="help-close"
                                 alt="helpClose">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script type="module" src="{{ asset('js/slider.js') }}"></script>
{% endblock %}
